* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header, footer {
    background-color: #1F2937;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: white;
    margin: 20px;
    padding-left: 20px;
}

nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-right: 30px;
}
a {
    color: white;
}

body .title-top {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
}


body .title-top .left {
    padding-top: 40px;
    padding-left: 40px;
}

body .title-top .left button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 12px;
    margin-top: 25px;
}

body .title-top .right img{
    border-radius: 8px;
    width:  420px;
    height: 300px;
    padding: 20px;
    margin-right: 40px;
}
.upper-body h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    
}
.upper-body .card-image {
    width: 100%;
    flex-wrap: auto;
}

.card-container{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.card-container .card-image{
    margin: 10px;
    
}

.card-container .card-image {
    padding: 20px;
    border: 3px solid blue;
    border-radius: 8px;
    width: 6rem;
}

.card-container .card-text {
    width: 80%;
}

.middle-body{
    background-color: lightgray;
    padding: 5rem;
}

.middle-body .inspiration {
    font-size: 28px;
    font-style: italic;
    color: #1F2937;
}

.middle-body .author p{
    display: flex;
    justify-content: flex-end;
    font-weight: 800;
    

}

.lower-body{
    padding: 4rem;
}

.lower-body .lbCard{
    padding: 2rem;
    background-color:#3882F6;
    border-radius: 7px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.lbText{
    width: 40rem;
}


.lbCard .action {
    font-weight: 800;
}

.lbButton {
    
    align-items:flex-end;
}

.lbCard .lbButton button{
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 8px;
    width: 80px;
    margin-right: 20px;
    
}

footer{
    display: flex;
    justify-content: center;
    color: white;
}